{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <style>
        /*<![CDATA[*/
        #centered{ width: 285px; height: auto; margin: 0 auto; padding:15px; text-align: center; z-index: 1000;}
        #centered .title { margin: 12px 0 0; font-size: 1.5em; line-height: 140%; letter-spacing: 0.04em; }
        #centered .sub_title { margin: 0  0; font-size: 0.75em; letter-spacing: 0.13em; }
        #centered form { text-align: left; }
        #centered form label { padding: 10px 0 5px 0; }
        html, body { height: 100%; margin: 0; padding: 0; }
        body { display: table; height: 100%; width: 100%; text-align: center; }
        #wrapper { display: table-cell; vertical-align: middle; }
        /*]]>*/
    </style>
{% endblock %}

{% block title %}Рабочее место администратора{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="centered">
            <h3>Вход в кабинет</h3>
            <form action="{{ path('app_login') }}" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Вы вошли как {{ app.user.username }}, <a href="{{ path('app_logout') }}">Выйти</a>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="login_or_email">Логин или эл.почта:</label>
                    <input type="input" value="{{ last_username }}" name="login_or_email" id="login_or_email" class="form-control" required autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Пароль:</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>

                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                    <label for="remember_me">Запомнить меня.</label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group" style="text-align: center; padding-top: 20px;">
                    <button class="btn btn-primary" type="submit">
                        Войти
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

