{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <section>
            <div class="container">
                <div class="main">
                    <div class="directions" data-turbo="true">
                        <a href="#" class="item">
                            <div class="image">
                                <img src="{{ asset('assets/img/bullets_main.svg') }}" alt="">
                            </div>
                            <div class="name">
                                {{ 'Патроны'|trans({}, 'front.home') }}
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="image">
                                <img src="{{ asset('assets/img/maps_main.svg') }}" alt="">
                            </div>
                            <div class="name">
                                {{ 'Карты'|trans({}, 'front.home') }}
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="image">
                                <img src="{{ asset('assets/img/mech_main.svg') }}" alt="">
                            </div>
                            <div class="name">
                                {{ 'Механики'|trans({}, 'front.home') }}
                            </div>
                        </a>
                    </div>
                    <div class="now">
                        <div class="main_information">
                            <div class="windows">
                                <div class="window" id="window_1">
                                    <div class="name">
                                        {{ 'Последний патч'|trans({}, 'front.home') }} | 13.13.13.0043290
                                    </div>
                                    <div class="subname">
                                        {{ 'Список изменений от'|trans({}, 'front.home') }} 01.01.2023 :
                                    </div>
                                    <div class="contains">
                                        <div>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                            error
                                            rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                                            necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                                            est
                                            blanditiis.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                            error
                                            rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                                            necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                                            est
                                            blanditiis.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                            error
                                            rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                                            necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                                            est
                                            blanditiis.
                                        </div>
                                    </div>
                                </div>
                                <div class="window active" id="window_2">
                                    <div class="name">
                                        {{ 'Ивент'|trans({}, 'front.home') }}
                                    </div>
                                    <div class="subname">
                                        {{ 'Список изменений от'|trans({}, 'front.home') }} 01.01.2023 :
                                    </div>
                                    <div class="contains">
                                        <div>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                            error
                                            rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                                            necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                                            est
                                            blanditiis.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                            error
                                            rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                                            necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                                            est
                                            blanditiis.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                            error
                                            rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                                            necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                                            est
                                            blanditiis.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                            error
                                            rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                                            necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                                            est
                                            blanditiis.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                            error
                                            rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                                            necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                                            est
                                            blanditiis.
                                        </div>
                                    </div>
                                </div>
                                <div class="window" id="window_3">
                                    <div class="name">
                                        {{ 'Отступники'|trans({}, 'front.home') }}
                                    </div>
                                    <div class="subname">
                                        {{ 'Список изменений от'|trans({}, 'front.home') }} 01.01.2023 :
                                    </div>
                                    <div class="contains">
                                        <div>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                            error
                                            rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                                            necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                                            est
                                            blanditiis.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                            error
                                            rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="selects">
                                <div class="select" data-target="window_1">
                                    {{ 'Патч'|trans({}, 'front.home') }}
                                </div>
                                <div class="select active" data-target="window_2">
                                    {{ 'Ивент'|trans({}, 'front.home') }}
                                </div>
                                <div class="select" data-target="window_3">
                                    {{ 'Отступники'|trans({}, 'front.home') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% if traders is not empty %}
        <section>
            <div class="container medium">
                <h2 class="center">{{ 'Торговцы'|trans({}, 'front.home') }}</h2>
                <div class="traders_main">
                    {% for trader in traders %}
                        <div class="trader" data-turbo="true">
                            <a href="{{ absolute_url(path('app_traders', {})) }}/{{ trader.slug }}/" class="image">
                                {% if trader.imageName %}
                                    <img src="{{ asset('/storage/images/traders/' ~ trader.imageName) | imagine_filter('118x118') }} " alt="{{ trader.shortName }}" />
                                {% else %}
                                    <img src="{{ asset('/assets/img/image-cap.png') | imagine_filter('118x118') }}" alt="">
                                {% endif %}
                            </a>
                            <div class="name">
                                <a href="{{ absolute_url(path('app_traders', {})) }}/{{ trader.slug }}">{{ trader.shortName }}</a>
                            </div>
                            <div class="links">
                                <a href="{{ absolute_url(path('app_quests', {})) }}/{{ trader.slug }}" class="link">{{ 'Квесты'|trans({}, 'front.home') }}</a>
                                {% if trader.cashOffers.count > 0 %}
                                    <a href="{{ absolute_url(path('app_items', {})) }}/{{ trader.slug }}" class="link">{{ 'Товары'|trans({}, 'front.home') }}</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}

        {% if articles is not empty %}
        <section>
            <div class="container">
                <h2 class="articles_header">{{ 'Статьи и медиа'|trans({}, 'front.home') }}</h2>
                <div class="articles">
                    {% for article in articles %}
                    <a href="{{ absolute_url(path('app_quests', {})) }}/articles{{ article.slug }}/" class="article">
                        <div class="date">
                            {{ article.updatedAt|date("d.m.Y") }}
                        </div>
                        <div class="contains">
                            <div class="name">
                                {{ article.title }}
                            </div>
                            <div class="text">
                                {{ article.description|striptags('')|raw }}
                            </div>
                        </div>
                        <div class="image">
                            {% if article.imagePoster is not empty %}
                                <img src="{{ asset('/storage/images/articles/' ~ article.imagePoster) | imagine_filter('180x134') }}" alt="{{ article.title }}">
                            {% else %}
                                <img src="{{ asset('/assets/img/NonImage.jpg') | imagine_filter('180x134')  }}" width="180" height="134" alt="{{ article.title }}">
                            {% endif %}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}

        <section>
            <div class="container medium">
                <div class="thanks">
                    <h2 class="center">
                        Благодарности
                    </h2>
                    <p>
						<span> Выражаю огромную благодарность следующим людям, без которых данный
						сайт вряд ли получился:</span>
                    </p>
                    <span class="hl">Monza</span> - за огромную финансовую поддержку и по
                    факту «слепую веру» в проект, когда из всего существовало только мое слово.
                    Без этого человека сайта бы не существовало - и это неоспоримый факт.
                    <br>
                    <span class="hl">Matroskin</span> - за четкие советы по работе, безграничной помощи в
                    правильной технической базе и решению проблем в любое время для и ночи.
                    <br>
                    <span class="hl">Bakergarvey</span> - за визуальную концепцию сайта, которая радует
                    своим стилем и формой.
                    <br>
                    <span class="hl">Sentis_Rubus</span> - за моральную поддержку и направление на необходимые
                    функции сайта, а также передачу ценного опыта руководства.
                    <br>
                    <span class="hl">The_Dragonless</span> - за моральную поддержку, а также помощи в создании
                    большей части первоначальных статей.
                    <br>
                    <span class="hl">Всем <a href="https://boosty.to/zervan">подписчикам Boosty</a></span> - за столь
                    длительное ожидание, но постоянную поддержку, советы и участие в рекомендациях.
                    <br>
                    А также всем, кто ждал лично мою реализацию. Ваша поддержка неоценима.
                    <br>
                    <p>
                        Это самый сложный проект, который я создавал. Делая ошибки, постоянно меняя, дополняя,
                        стараясь найти верное решение. Даже когда казалось, что все готово - всегда находились проблемы,
                        которые необходимо было закрывать, тратя дополнительное время и ресурсы. В какой-то момент все
                        посыпалось, и я не знал, что будет дальше. Потраченного времени не вернуть, но я принял все ошибки
                        и вряд ли буду допускать в будущем.
                        <br>
                        Ответить на вопрос «почему все оказалось настолько долго?» - я лично не смогу. Знаю лишь, что
                        сейчас это пойдет значительно быстрее.
                        <br>
                        Работы предстоит еще много: создание карт, вывод статистики, пропись калькуляторов, и многое другое, что было обещано.
                        Но первые шаги уже сделаны.
                    <p>
                        Все изменения по сайту будут анонсироваться на соответствующей странице - <a href="news.html">Новости</a>.
                        <br>
                        Если вы желаете помочь развитию, а также имеете какие-либо вопросы, можно написать напрямую
                        через отдельный <a href="https://t.me/TarkovTown">Telegram</a>.

                    </p>
                    <p>
                    <div class="text text_right">
                        <span class="grey">©Zervan</span></div>
                    </p>
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
