{% extends 'base.html.twig' %}

{% block title %}Tarkov.Town | Escape From Tarkov{% endblock %}
{% block content %}
    <div class="content">
        <section>
            <div class="container">
                <div class="main">
                    <div class="directions" data-turbo="true">
                        <a href="{{ absolute_url(path('app_bullets', {})) }}" class="item">
                            <div class="image">
                                <img src="{{ asset('assets/img/bullets_main.svg') }}" alt="">
                            </div>
                            <div class="name">
                                {{ 'Патроны'|trans({}, 'front.home') }}
                            </div>
                        </a>
                        <a href="{{ absolute_url(path('app_maps', {})) }}" class="item">
                            <div class="image">
                                <img src="{{ asset('assets/img/maps_main.svg') }}" alt="{{ 'Карты'|trans({}, 'front.home') }}">
                            </div>
                            <div class="name">
                                {{ 'Карты'|trans({}, 'front.home') }}
                            </div>
                        </a>
                        <a href="{{ absolute_url(path('app_mechanics', {})) }}" class="item">
                            <div class="image">
                                <img src="{{ asset('assets/img/mech_main.svg') }}" alt="">
                            </div>
                            <div class="name">
                                {{ 'Механики'|trans({}, 'front.home') }}
                            </div>
                        </a>
                    </div>
                    {{ include('home/blocks/last-news.html.twig') }}
                </div>
            </div>
        </section>

        {{ include('home/blocks/traders.html.twig') }}

{#        <section class="btn_stream_view active">
            <div class="container">
                <div class="stream-players">
                    <div class="stream-view">
                        <iframe src="https://player.twitch.tv/?channel=inseq&parent=https://eft.i-tools.ru" frameborder="0" autoplay="true" muted="false" allowfullscreen="true" scrolling="no" height="256" width="420"></iframe>
                        <div class="stream-view-exit">
                            <div class="btn_stream">
                                X
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>#}

        {{ include('home/blocks/last-articles.html.twig') }}

        <section>
            <div class="container medium">
                <div class="thanks">
                    <h2 class="center">
                        Благодарности
                    </h2>
                    <p>
						<span> Выражаю огромную благодарность следующим людям, без которых данный
						сайт вряд ли получился:</span>
                    </p>
                    <span class="hl">Monza</span> - за огромную финансовую поддержку и по
                    факту «слепую веру» в проект, когда из всего существовало только мое слово.
                    Без этого человека сайта бы не существовало - и это неоспоримый факт.
                    <br>
                    <span class="hl">Matroskin</span> - за четкие советы по работе, безграничной помощи в
                    правильной технической базе и решению проблем в любое время для и ночи.
                    <br>
                    <span class="hl">Ennorion</span> - за фундаментальную помощь в то время, когда уже почти все
                    накрылось.
                    <br>
                    <span class="hl">Bakergarvey</span> - за визуальную концепцию сайта, которая радует
                    своим стилем и формой.
                    <br>
                    <span class="hl">Sentis_Rubus</span> - за моральную поддержку и направление на необходимые
                    функции сайта, а также передачу ценного опыта руководства.
                    <br>
                    <span class="hl">The_Dragonless</span> - за моральную поддержку, а также помощи в создании
                    большей части первоначальных статей.
                    <br>
                    <span class="hl">Всем <a href="https://boosty.to/zervan" style="color: #df870a">
                    подписчикам Boosty</a></span> - за столь
                    длительное ожидание, но постоянную поддержку, советы и участие в рекомендациях.
                    <br>
                    А также всем, кто ждал лично мою реализацию. Ваша поддержка неоценима.
                    <br>
                    <p>
                        Это самый сложный проект, который я создавал. Делая ошибки, постоянно меняя, дополняя,
                        стараясь найти верное решение. Даже когда казалось, что все готово - всегда находились проблемы,
                        которые необходимо было закрывать, тратя дополнительное время и ресурсы. В какой-то момент все
                        посыпалось, и я не знал, что будет дальше. Потраченного времени не вернуть, но я принял все ошибки
                        и вряд ли буду допускать в будущем.
                        <br>
                        Работы предстоит еще много: создание карт, вывод статистики, пропись калькуляторов, и многое другое, что было обещано.
                        Но первые шаги уже сделаны.
                    <p>
                        <br>
                        Если вы желаете помочь развитию, задать какие-либо вопросы: можно написать напрямую
                        через отдельный <a href="https://t.me/TarkovTown" style="color: #df870a">Telegram</a>.

                    </p>
                    <p>
                    <div class="text text_right">
                        <span class="grey">©Zervan</span></div>
                    </p>
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
