<div class="header_lock">
{#    <div class="header_lock_icon"></div>#}
    <h4>{{ 'Открывает к бартеру'|trans({}, 'front.quests') }}</h4>
</div>
<div class="item_views">
    {% for unlockBarters in quest.unlockBarters %}
        {% for rewardItem in unlockBarters.rewardItems %}
            <div class="item_view">
                <div class="info info_item">
                    i
                    <div class="ref">
                        {{ 'Открывает бартер на'|trans({}, 'front.quests') }} <span class="hl">{{ unlockBarters.traderLevel }} {{ 'уровне'|trans({}, 'front.quests') }}</span> {{ 'лояльности'|trans({}, 'front.quests') }}
                    </div>
                </div>
                <div class="image">
{#                    <a href="{{ absolute_url(path('app_view_item', {'slug': rewardItem.item.slug})) }}">#}
                        {% if rewardItem.item.imageName %}
                            <img src="{{ asset('/storage/images/items/' ~ rewardItem.item.imageName) | imagine_filter('180x134') }}" alt="{{ rewardItem.item.name }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/image-cap.png') | imagine_filter('180x134') }}" alt="{{ rewardItem.item.name }}">
                        {% endif %}
{#                    </a>#}
                </div>
                <div class="contains">
                    <div class="count_item">x{{ rewardItem.count }}</div>
                    <div class="name">{{ rewardItem.item.shortName }}</div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>