<h4 class="center">{{ 'Выдается за задание'|trans({}, 'front.quests') }}</h4>
<div class="container small">
    <div class="item_views">
        {% for receivedItem in quest.receivedItems %}
            {% if 'money' not in receivedItem.item.types %}
                <div class="item_view">
                    <div class="image">
                        {% if receivedItem.item.imageName %}
                            <img src="{{ asset('/storage/images/items/' ~ receivedItem.item.imageName) | imagine_filter('180x134') }}" alt="{{ receivedItem.item.name }}">
                        {% else %}
                            <img src="{{ asset('/assets/img/image-cap.png') | imagine_filter('180x134') }}" alt="{{ receivedItem.item.name }}">
                        {% endif %}
                    </div>
                    <div class="contains">
                        <div class="count_item">x{{ receivedItem.count }}</div>
                        <div class="name">{{ receivedItem.item.shortName }}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>