<div class="character__text">
    <span class="value-stock">{{ 'Энергичность' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.energy }} {{ 'ккал/г' |trans({}, 'front.items') }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Гидратация' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.hydration }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Кол-во' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.units }} {{ 'шт' |trans({}, 'front.items') }}</span>
</div>