<div class="character__text">
    <span class="value-stock">{{ 'Звуки окружения' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.ergonomics }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Время срабатывания сжатия' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.recoilModifier }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Общий уровень громкости' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.accuracyModifier }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Скорость восстановления звука' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.ergonomics }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Уровень срабатывания сжатия' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.recoilModifier }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Глубина сжатия' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.accuracyModifier }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Обрезаемая частота' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.ergonomics }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Увеличение дальности звука' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.recoilModifier }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Перекручивание звука уже готового' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.accuracyModifier }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Уровень чистого звука' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.ergonomics }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Высокочастные шумы' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.recoilModifier }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Резонанс' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.accuracyModifier }}</span>
</div>