<div class="character__text">
    <span class="value-stock">{{ 'Калибр' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.apiCaliber }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Эффективная дистанция' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.effectiveDistance }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Эргономика' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.ergonomics }}</span>
</div>
{% if item.properties.fireModes %}
<div class="character__text">
    <span class="value-stock">{{ 'Режимы стрельбы' | trans({}, 'front.items') }}</span>
    <span class="value-properties" style="text-align: right">{% for mode in item.properties.fireModes %}{{ mode }}<br />{% endfor %}</span>
</div>
{% endif %}
<div class="character__text">
    <span class="value-stock">{{ 'Скорострельность' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.fireRate }}{{ 'выс/сек' | trans({}, 'front.items') }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Макс. прочность' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.maxDurability }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Вертикальная отдача' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.recoilVertical }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Горизонтальная отдача' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.recoilHorizontal }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Стоимость ремонта (1 ед.)' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.repairCost }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Прицельная дальность' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.sightingRange }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Центр воздействия' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.centerOfImpact }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Кривая отклонения' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.deviationCurve }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Дисперсия отдачи' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.recoilDispersion }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Угол отдачи' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.recoilAngle }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Отдача камеры' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.cameraRecoil }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Щелчок камеры' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.cameraSnap }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Макс. отклонение' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.deviationMax }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Конвергенция' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.convergence }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Ширина по умолчанию' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.defaultWidth }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Высота по умолчанию' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.defaultHeight }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Стандартная эргономика' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.defaultErgonomics }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Вертикальная отдача по умолчанию' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.defaultRecoilVertical }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Горизонтальная отдача по умолчанию' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.defaultRecoilHorizontal }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Вес по умолчанию' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.defaultWeight }}</span>
</div>