{% if item.properties.class is not empty %}
<div class="character__text">
    <span class="value-stock">{{ 'Класс' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.class }}</span>
</div>
{% endif %}
{% if item.properties.durability is not empty %}
<div class="character__text">
    <span class="value-stock">{{ 'Прочность' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.durability }}</span>
</div>
{% endif %}
{% if item.properties.repairCost is not empty %}
<div class="character__text">
    <span class="value-stock">{{ 'Стоимость ремонта (1 ед.)' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.repairCost }}</span>
</div>
{% endif %}
{% if item.properties.speedPenalty is not empty %}
<div class="character__text">
    <span class="value-stock">{{ 'Снижение скорости' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.speedPenalty }}%</span>
</div>
{% endif %}
{% if item.properties.turnPenalty is not empty %}
<div class="character__text">
    <span class="value-stock">{{ 'Снижение поворота' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.turnPenalty }}%</span>
</div>
{% endif %}
{% if item.properties.ergoPenalty is not empty %}
<div class="character__text">
    <span class="value-stock">{{ 'Снижение эргономик' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.ergoPenalty }}%</span>
</div>
{% endif %}
{% if item.properties.headZones is not empty %}
<div class="character__text">
    <span class="value-stock">{{ 'Защита зон головы' |trans({}, 'front.items') }}</span>
    <span class="value-properties" style="text-align: right">{% for zone in item.properties.headZones %}{{ zone }}<br />{% endfor %}</span>
</div>
{% endif %}
<div class="character__text">
    <span class="value-stock">{{ 'Блокировка наушников' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{% if item.properties.blockHeadset %}{{ 'Да' | trans({}, 'front.items') }}{% else %}{{ 'Нет' | trans({}, 'front.items') }}{% endif %}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Защита от ослепления' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{% if item.properties.blindnessProtection %}{{ 'Да' | trans({}, 'front.items') }}{% else %}{{ 'Нет' | trans({}, 'front.items') }}{% endif %}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Тип защиты' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.armorType | trans({}, 'front.items') }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Заброневой урон' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.bluntThroughput }}</span>
</div>