<div class="character__text">
    <span class="value-stock">{{ 'Эргономика' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.ergonomics }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Отдача' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.recoilModifier }} %</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Вместимость' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.capacity }}{{ 'шт' |trans({}, 'front.items') }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Модификатор загрузки' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.loadModifier }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Модификатор проверки боеприпасов' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.ammoCheckModifier }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Шанс неисправности' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.malfunctionChance }} %</span>
</div>