<div class="character__text">
    <span class="value-stock">{{ 'Эргономика' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.ergonomics }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Отдача' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.recoilModifier }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Точность' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.accuracyModifier }}</span>
</div>