<div class="character__text">
    <span class="value-stock">{{ 'Емкость' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.capacity }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Снижение скорости' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.speedPenalty }} %</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Снижение поворота' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.turnPenalty }} %</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Снижение эргономик' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.ergoPenalty }} %</span>
</div>