<div class="character__text">
    <span class="value-stock">{{ 'Интенсивность' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.intensity }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Интенсивность шума' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.noiseIntensity }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Шкала шума' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.noiseScale }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Диффузная интенсивность' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.diffuseIntensity }}</span>
</div>