<div class="character__text">
    <span class="value-stock">{{ 'Эргономика' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.ergonomics }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Модификатор отдачи' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.recoilModifier }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Центр воздействия' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.centerOfImpact }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Кривая отклонения' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.deviationCurve }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Макс. отклонение' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.deviationMax }}</span>
</div>