<div class="character__text">
    <span class="value-stock">{{ 'Рубящий урон' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.slashDamage }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Урон ножом' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.stabDamage }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Радиус удара' | trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.hitRadius }} {{ 'м' | trans({}, 'front.items') }}</span>
</div>