<div class="character__text">
    <span class="value-stock">{{ 'Энергия' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.energy }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Гидратация' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.hydration }}</span>
</div>
<div class="character__text">
    <span class="value-stock">{{ 'Ресурс' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.units }}/{{ item.properties.units }}</span>
</div>