{# admin/field/linkedit.html.twig #}
{% set editUrl = ea_url()
    .setController(ea.crud.controllerFqcn)
    .setAction('edit')
    .setEntityId(entity.primaryKeyValue)
%}

{% if ea.entity.name == 'Item' %}
    <a href="{{ editUrl }}&typeItem={{ entity.instance.typeItem }}" id="Edit_{{ entity.primaryKeyValueAsString }}">{{ field.value }}</a>
{% else %}
    <a href="{{ editUrl }}" id="Edit_{{ entity.primaryKeyValueAsString }}">{{ field.value }}</a>
{% endif %}