<nav>
    <div class="container">
        <div class="navbar">
            <a href="{{ absolute_url(path('app_home', {})) }}" class="logo">

            </a>
            <div class="mobile_filler"></div>
            <div class="mobile_menu_btn"></div>

            <div class="menu">
                <div class="item">
                    <a href="{{ absolute_url(path('app_bullets', {})) }}">{{ 'Боеприпасы'|trans({}, 'front.nav') }}</a>
                </div>
                <div class="item">
                    <a href="{{ absolute_url(path('app_traders', {})) }}">{{ 'Квесты'|trans({}, 'front.nav') }}</a>
                </div>
                <div class="item">
                    <a href="index.html">{{ 'Карты'|trans({}, 'front.nav') }}</a>
                </div>
                <div class="item active">
                    <a href="article.html">{{ 'Механики'|trans({}, 'front.nav') }}</a>
                </div>
                <div class="item">
                    <a href="#">{{ 'Убежище'|trans({}, 'front.nav') }}</a>
                </div>
                <div class="item">
                    <a href="#">{{ 'Новости'|trans({}, 'front.nav') }}</a>
                </div>
            </div>
            <div class="search">
                <div class="icon"></div>
                <input type="text" class="input" name="search" placeholder="{{ 'Поиск по сайту'|trans({}, 'front.nav') }}">
            </div>
            <div class="login" id="login_main">{{ 'Войти'|trans({}, 'front.nav') }}</div>

            <div class="mobile_menu">
                <div class="close" id="menu_mobile_close"></div>
                <div class="top">
                    <div class="item active">
                        <a href="{{ absolute_url(path('app_bullets', {})) }}" class="itemlink">
                            <div class="itemlogo">
                                <img src="{{ asset('assets/img/menu_bullets.svg') }}" alt="">
                            </div>
                            {{ 'Боеприпасы'|trans({}, 'front.nav') }}
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ absolute_url(path('app_traders', {})) }}" class="itemlink">
                            <div class="itemlogo">
                                <img src="{{ asset('assets/img/menu_quests.svg') }}" alt="">
                            </div>
                            {{ 'Квесты'|trans({}, 'front.nav') }}
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <div class="itemlogo">
                                <img src="{{ asset('assets/img/menu_maps.svg') }}" alt="">
                            </div>
                            {{ 'Карты'|trans({}, 'front.nav') }}
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <div class="itemlogo">
                                <img src="{{ asset('assets/img/menu_mechanics.svg') }}" alt="">
                            </div>
                            {{ 'Механики'|trans({}, 'front.nav') }}
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <div class="itemlogo">
                                <img src="{{ asset('assets/img/menu_news.svg') }}" alt="">
                            </div>
                            {{ 'Новости'|trans({}, 'front.nav') }}
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <div class="itemlogo">
                                <img src="{{ asset('assets/img/menu_tournirs.svg') }}" alt="">
                            </div>
                            {{ 'Турниры'|trans({}, 'front.nav') }}
                        </a>
                    </div>
                </div>
                <div class="bottom">
                    <div class="item">
                        <div class="name">
                            {{ 'Ссылки'|trans({}, 'front.nav') }}
                        </div>
                        <div class="links">
                            <a href="#" class="link telegram"></a>
                            <a href="#" class="link b"></a>
                            <a href="#" class="link twitch"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="name">
                            {{ 'Обратная связь'|trans({}, 'front.nav') }}
                        </div>
                        <div class="links">
                            <a href="#" class="link telegram"></a>
                            <a href="#" class="link b"></a>
                            <a href="#" class="link twitch"></a>
                        </div>
                    </div>
                    <div class="auth">
                        <div class="wrapper">
                            <a href="#" class="button login" id="login">{{ 'Вход'|trans({}, 'front.nav') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>