<nav>
    <div class="container">
        <div class="navbar" data-turbo="true">
            <a href="{{ absolute_url(path('app_home', {})) }}" class="logo">
                <svg width="69px" height="69px" fill="#df870a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1080 1080">
                    <g>
                        <polygon points="439 943 587 943 601 929 601 657 425 851 425 929 439 943"/>
                    </g>
                    <g>
                        <polygon points="425 344 425 687 601 496 601 344 741 344 800 280 800 197.19 786 183 240 183 226 197 226 328.74 240 344 425 344"/>
                    </g>
                    <g>
                        <polygon points="797 713 821.22 713 826.61 707.61 826.61 577 797 577 797 713"/>
                    </g>
                    <g>
                        <polygon points="798 501 891 501 896.5 495.5 896.5 449.56 891.47 444.53 798 444.53 798 501"/>
                    </g>
                </svg>
            </a>
            <div class="mobile_filler"></div>
            <div class="mobile_menu_btn" {{ stimulus_controller('mobile-menu') }} {{ stimulus_action('click->mobile-menu', 'toggle') }}></div>

            <div class="menu" data-turbo="true">
                <div class="item">
                    <a href="{{ absolute_url(path('app_bullets', {})) }}">{{ 'Боеприпасы'|trans({}, 'front.nav') }}</a>
                </div>
                <div class="item">
                    <a href="{{ absolute_url(path('app_traders', {})) }}">{{ 'Квесты'|trans({}, 'front.nav') }}</a>
                </div>
                <div class="item">
                    <a href="{{ absolute_url(path('app_maps', {})) }}">{{ 'Карты'|trans({}, 'front.nav') }}</a>
                </div>
                <div class="item">
                    <a href="#">{{ 'Механики'|trans({}, 'front.nav') }}</a>
                </div>
                <div class="item">
                    <a href="#">{{ 'Убежище'|trans({}, 'front.nav') }}</a>
                </div>
                <div class="item">
                    <a href="#">{{ 'Новости'|trans({}, 'front.nav') }}</a>
                </div>
            </div>
            <div class="search">
                <input type="text" id="search" class="input" name="search" placeholder="{{ 'Поиск по сайту'|trans({}, 'front.nav') }}">
                <label for="search" class="icon"></label>
            </div>
            <div class="login" id="login_main">{{ 'Войти'|trans({}, 'front.nav') }}</div>

            <div class="mobile_menu">
                <div class="close" id="menu_mobile_close" {{ stimulus_controller('mobile-menu') }} {{ stimulus_action('click->mobile-menu', 'close') }}></div>
                <div class="top" data-turbo="true">
                    <div class="item active">
                        <a href="{{ absolute_url(path('app_bullets', {})) }}" class="itemlink">
                            <svg fill="#DF870A" width="25px" height="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 503.607 503.607" xml:space="preserve">
                              <g>
                                  <g>
                                      <g>
                                          <rect x="83.933" y="235.016" width="100.721" height="184.656"/>
                                          <polygon points="167.868,191.067 167.868,151.08 100.721,151.08 100.721,191.067 87.14,218.228 181.449,218.228 			"/>
                                          <path d="M153.048,41.682l-10.71-35.697C141.272,2.434,137.999,0,134.297,0c-3.71,0-6.975,2.434-8.041,5.985l-10.718,35.697
                               c-9.031,30.107-13.765,61.23-14.512,92.613h66.535C166.813,102.912,162.079,71.789,153.048,41.682z"/>
                                          <path d="M177.196,458.165c0.26-0.688,0.529-1.368,0.713-2.09l4.902-19.615H85.775l4.893,19.615
                               c0.185,0.722,0.453,1.402,0.722,2.09c-4.516,3.794-7.453,9.417-7.453,15.763v8.998c0,11.407,9.275,20.681,20.681,20.681h59.358
                               c11.398,0,20.681-9.275,20.681-20.681v-8.998C184.658,467.583,181.72,461.959,177.196,458.165z"/>
                                          <polygon points="402.885,258.214 402.885,218.228 335.737,218.228 335.737,258.214 322.157,285.375 416.465,285.375 			"/>
                                          <rect x="318.95" y="302.164" width="100.721" height="117.508"/>
                                          <path d="M388.065,108.829l-10.71-35.697c-1.066-3.55-4.339-5.984-8.041-5.984c-3.71,0-6.975,2.434-8.041,5.984l-10.718,35.697
                               c-9.031,30.107-13.765,61.23-14.512,92.613h66.535C401.83,170.06,397.096,138.937,388.065,108.829z"/>
                                          <path d="M412.212,458.165c0.26-0.688,0.529-1.368,0.713-2.09l4.902-19.615h-97.037l4.893,19.615
                               c0.185,0.722,0.453,1.402,0.722,2.09c-4.516,3.794-7.453,9.417-7.453,15.763v8.998c0,11.407,9.275,20.681,20.681,20.681h59.358
                               c11.398,0,20.681-9.275,20.681-20.681v-8.998C419.674,467.583,416.737,461.959,412.212,458.165z"/>
                                          <rect x="201.441" y="268.59" width="100.721" height="151.082"/>
                                          <polygon points="285.377,224.64 285.377,184.654 218.229,184.654 218.229,224.64 204.648,251.802 298.957,251.802 			"/>
                                          <path d="M270.556,75.256l-10.71-35.697c-1.066-3.55-4.339-5.984-8.041-5.984c-3.71,0-6.975,2.434-8.041,5.984l-10.718,35.697
                               c-9.031,30.107-13.765,61.23-14.512,92.613h66.535C284.322,136.486,279.588,105.363,270.556,75.256z"/>
                                          <path d="M294.704,458.165c0.26-0.688,0.529-1.368,0.713-2.09l4.902-19.615h-97.037l4.893,19.615
                               c0.185,0.722,0.453,1.402,0.722,2.09c-4.516,3.794-7.453,9.417-7.453,15.763v8.998c0,11.407,9.275,20.681,20.681,20.681h59.358
                               c11.398,0,20.681-9.275,20.681-20.681v-8.998C302.166,467.583,299.228,461.959,294.704,458.165z"/>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                            {{ 'Боеприпасы'|trans({}, 'front.nav') }}
                        </a>
                    </div>
                    <div class="item">
                        <a href="{{ absolute_url(path('app_traders', {})) }}" class="itemlink">
                            <svg width="25px" height="25px" viewBox="0 0 24 24"  fill="#DF870A" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.661 7.86213C10.4142 8.04749 10.25 8.31328 10.25 8.75C10.25 9.30228 9.80229 9.75 9.25 9.75C8.69772 9.75 8.25 9.30228 8.25 8.75C8.25 7.68672 8.70818 6.82751 9.46005 6.26288C10.1787 5.72317 11.0967 5.5 12 5.5C13.0779 5.5 13.987 5.82418 14.6436 6.44499C15.2951 7.06101 15.6046 7.88116 15.6531 8.7005C15.7483 10.3042 14.864 12.0687 13.2461 12.9932C13.099 13.0773 13.008 13.1462 12.9529 13.1958C13.0783 13.5886 12.9509 14.0345 12.6034 14.2974C12.163 14.6307 11.5359 14.5438 11.2026 14.1034C11.2026 14.1034 11.2031 14.1041 11.2016 14.1021L11.2005 14.1007C10.9606 13.778 10.865 13.355 10.9137 12.9585C10.9974 12.277 11.4727 11.7031 12.2539 11.2568C13.2157 10.7071 13.7065 9.65911 13.6567 8.8189C13.6328 8.41625 13.4898 8.10656 13.2695 7.89822C13.0542 7.69468 12.6721 7.5 12 7.5C11.3981 7.5 10.9411 7.65183 10.661 7.86213Z"/>
                                <path d="M12 18.5C12.8284 18.5 13.5 17.8284 13.5 17C13.5 16.1716 12.8284 15.5 12 15.5C11.1716 15.5 10.5 16.1716 10.5 17C10.5 17.8284 11.1716 18.5 12 18.5Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3Z"/>
                            </svg>
                            {{ 'Квесты'|trans({}, 'front.nav') }}
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <svg width="25px" height="25px" viewBox="0 0 24 24" stroke="#DF870A" stroke-width="1.7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.7 15C4.03377 15.6353 3 16.5205 3 17.4997C3 19.4329 7.02944 21 12 21C16.9706 21 21 19.4329 21 17.4997C21 16.5205 19.9662 15.6353 18.3 15M12 9H12.01M18 9C18 13.0637 13.5 15 12 18C10.5 15 6 13.0637 6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9ZM13 9C13 9.55228 12.5523 10 12 10C11.4477 10 11 9.55228 11 9C11 8.44772 11.4477 8 12 8C12.5523 8 13 8.44772 13 9Z" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            {{ 'Карты'|trans({}, 'front.nav') }}
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <svg height="25px" width="25px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 512 512"  xml:space="preserve" fill="#DF870A">
                             <g>
                                 <path d="M499.139,318.571l-37.178-5.407c-2.329-0.178-4.336-1.642-5.228-3.8l-12.054-29.086		c-0.901-2.15-0.526-4.613,1-6.379l22.243-29.88c3.533-4.141,3.301-10.314-0.554-14.168l-17.602-17.594		c-3.846-3.854-10.029-4.104-14.159-0.553l-29.889,22.233c-1.758,1.518-4.238,1.91-6.38,1.018l-29.094-12.062		c-2.151-0.883-3.622-2.926-3.81-5.228l-5.389-37.169c-0.428-5.442-4.96-9.635-10.402-9.635h-24.893		c-5.45,0-9.983,4.193-10.402,9.635l-5.407,37.169c-0.17,2.32-1.642,4.345-3.792,5.228l-29.103,12.062		c-2.151,0.892-4.613,0.5-6.388-1.018l-29.872-22.233c-4.13-3.542-10.304-3.302-14.167,0.553l-17.594,17.594		c-3.854,3.854-4.086,10.028-0.554,14.168l22.234,29.888c1.508,1.758,1.91,4.229,1.009,6.371l-12.054,29.086		c-0.874,2.159-2.908,3.622-5.219,3.81l-37.195,5.398c-5.425,0.429-9.618,4.961-9.618,10.412v24.883		c0,5.442,4.194,9.993,9.618,10.403l37.195,5.398c2.311,0.188,4.345,1.659,5.219,3.81l12.054,29.086		c0.901,2.159,0.5,4.63-1.009,6.388l-22.234,29.889c-3.533,4.14-3.301,10.295,0.554,14.168l17.594,17.594		c3.863,3.854,10.037,4.086,14.167,0.544l29.872-22.243c1.775-1.498,4.237-1.9,6.388-0.998l29.103,12.044		c2.151,0.902,3.622,2.918,3.802,5.246l5.398,37.169c0.428,5.433,4.952,9.636,10.402,9.636h24.893c5.451,0,9.974-4.203,10.402-9.636
                              l5.389-37.169c0.188-2.328,1.659-4.344,3.81-5.246l29.103-12.044c2.142-0.902,4.622-0.5,6.379,0.998l29.881,22.243
                              c4.13,3.542,10.314,3.31,14.159-0.544l17.602-17.594c3.864-3.873,4.087-10.028,0.554-14.168l-22.243-29.889		c-1.499-1.758-1.9-4.229-1-6.388l12.054-29.086c0.892-2.151,2.899-3.622,5.228-3.81l37.178-5.398
                              c5.434-0.41,9.627-4.961,9.627-10.403v-24.883C508.766,323.532,504.573,319,499.139,318.571z M379.093,382.328		c-10.93,10.912-25.445,16.926-40.898,16.926c-15.444,0-29.978-6.014-40.898-16.926c-10.92-10.938-16.943-25.454-16.943-40.907
                              c0-15.444,6.022-29.969,16.943-40.89c10.92-10.939,25.454-16.934,40.898-16.934c15.454,0,29.969,5.995,40.898,16.934		c10.92,10.92,16.934,25.446,16.934,40.89C396.027,356.874,390.014,371.39,379.093,382.328z"/>
                                 <path d="M187.351,252.156c4.032-1.445,6.254-5.746,5.122-9.868l-5.898-28.854c-0.472-1.767,0.072-3.649,1.419-4.88		l18.263-16.621c1.338-1.222,3.284-1.588,4.97-0.946l27.961,8.466c3.989,1.508,8.485-0.294,10.306-4.166l8.297-17.656		c1.837-3.881,0.366-8.485-3.346-10.591l-24.339-16.14c-1.58-0.91-2.535-2.632-2.436-4.452l1.16-24.66		c0.098-1.829,1.186-3.444,2.838-4.194l26.008-13.874c3.898-1.74,5.781-6.218,4.336-10.215l-6.603-18.371		c-1.454-4.024-5.755-6.254-9.876-5.121l-28.863,5.879c-1.767,0.5-3.632-0.053-4.871-1.41L195.185,56.23		c-1.24-1.357-1.614-3.265-0.955-4.978l8.468-27.944c1.507-4.006-0.294-8.494-4.175-10.306l-17.648-8.306		c-3.872-1.821-8.494-0.366-10.608,3.354l-16.131,24.34c-0.902,1.58-2.623,2.533-4.444,2.445l-24.66-1.169
                              c-1.82-0.08-3.462-1.205-4.202-2.847L106.974,4.821c-1.758-3.898-6.219-5.782-10.234-4.336L78.379,7.096		c-4.024,1.446-6.254,5.738-5.112,9.859l5.888,28.872c0.482,1.748-0.062,3.64-1.418,4.862l-18.264,16.63
                              c-1.356,1.222-3.274,1.597-4.987,0.955l-27.944-8.476c-3.988-1.516-8.476,0.304-10.305,4.175L7.939,81.622		c-1.82,3.872-0.366,8.494,3.346,10.599l24.339,16.14c1.588,0.902,2.534,2.615,2.436,4.435l-1.16,24.66		c-0.071,1.838-1.187,3.444-2.837,4.193L8.055,155.522c-3.9,1.749-5.782,6.219-4.336,10.216l6.611,18.37		c1.445,4.024,5.746,6.254,9.859,5.131l28.881-5.906c1.749-0.482,3.64,0.071,4.862,1.427l16.612,18.255		c1.24,1.356,1.598,3.283,0.954,4.987l-8.466,27.944c-1.499,3.997,0.304,8.485,4.175,10.305l17.648,8.297		c3.881,1.829,8.493,0.357,10.608-3.346l16.122-24.348c0.91-1.57,2.623-2.534,4.452-2.428l24.661,1.16		c1.829,0.09,3.453,1.178,4.211,2.846l13.847,25.989c1.767,3.9,6.219,5.8,10.233,4.354L187.351,252.156z M148.229,172.296
                              c-11.394,4.095-23.714,3.524-34.68-1.633c-10.965-5.157-19.245-14.275-23.358-25.678c-4.095-11.402-3.524-23.714,1.634-34.67		c5.156-10.974,14.283-19.254,25.677-23.357c11.402-4.105,23.714-3.534,34.67,1.641c10.956,5.139,19.254,14.258,23.366,25.66
                              c4.096,11.403,3.516,23.706-1.632,34.672C168.731,159.886,159.621,168.183,148.229,172.296z"/>
                             </g>
                            </svg>
                            {{ 'Механики'|trans({}, 'front.nav') }}
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <svg fill="#DF870A" height="25px" width="25px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                              <g id="news">
                                  <polygon points="22,22 4,22 4,24 24,24 24,21 22,21 	"/>
                                  <path d="M18.414,0H4v9h2V2h10v6h6v3h2V5.586L18.414,0z M18,6V2.414L21.586,6H18z"/>
                                  <polygon points="5.999,20 5.999,12 4,12 4,15.926 2,12 0.002,12 0.002,20 2,20 2,15.914 4,20 	"/>
                                  <polygon points="12,12 12,20 14,20 15,18 16,20 18,20 18,12 16,12 16,16 15,14 14,16 14,12 	"/>
                                  <polygon points="11,14 11,12 9,12 8,12 7,12 7,20 8,20 9,20 11,20 11,18 9,18 9,17 10,17 10,15 9,15 9,14 	"/>
                                  <path d="M21,12c-1,0-2,1-2,2.5s1,2.5,2,2.5h0.553c0.642,0,0.577,1,0,1H19v2h2.673c0,0,2.327,0,2.327-2.5S22.573,15,21.573,15
                                  c-0.766,0-0.755-1,0-1H24v-2h-2H21z"/>
                              </g>
                              </svg>
                            {{ 'Новости'|trans({}, 'front.nav') }}
                        </a>
                    </div>
                </div>
                <div class="bottom">
                    <div class="item">
                        <div class="name">
                            {{ 'Ссылки'|trans({}, 'front.nav') }}
                        </div>
                        <div class="links">
                            <a href="https://t.me/zervanlive" class="link telegram"></a>
                            <a href="https://boosty.to/zervan" class="link b"></a>
                            <a href="https://www.twitch.tv/zervan_" class="link twitch"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="name">
                            {{ 'Обратная связь'|trans({}, 'front.nav') }}
                        </div>
                        <div class="links">
                            <a href="https://t.me/zervanlive" class="link telegram"></a>
                            <a href="https://boosty.to/zervan" class="link b"></a>
                            <a href="https://www.twitch.tv/zervan_" class="link twitch"></a>
                        </div>
                    </div>
                    <div class="auth">
                        <div class="wrapper">
                            <a href="#" class="button login" id="login">{{ 'Вход'|trans({}, 'front.nav') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile_navbar_footer">
        <div class="mobile_nav">
            <ul class="mobile_nav_list">
                <li class="mobile_nav_item">
                    <a href="traders.html">
                        <svg width="20px" height="20px" viewBox="0 0 24 24"  fill="#828282" class="svg fill" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.661 7.86213C10.4142 8.04749 10.25 8.31328 10.25 8.75C10.25 9.30228 9.80229 9.75 9.25 9.75C8.69772 9.75 8.25 9.30228 8.25 8.75C8.25 7.68672 8.70818 6.82751 9.46005 6.26288C10.1787 5.72317 11.0967 5.5 12 5.5C13.0779 5.5 13.987 5.82418 14.6436 6.44499C15.2951 7.06101 15.6046 7.88116 15.6531 8.7005C15.7483 10.3042 14.864 12.0687 13.2461 12.9932C13.099 13.0773 13.008 13.1462 12.9529 13.1958C13.0783 13.5886 12.9509 14.0345 12.6034 14.2974C12.163 14.6307 11.5359 14.5438 11.2026 14.1034C11.2026 14.1034 11.2031 14.1041 11.2016 14.1021L11.2005 14.1007C10.9606 13.778 10.865 13.355 10.9137 12.9585C10.9974 12.277 11.4727 11.7031 12.2539 11.2568C13.2157 10.7071 13.7065 9.65911 13.6567 8.8189C13.6328 8.41625 13.4898 8.10656 13.2695 7.89822C13.0542 7.69468 12.6721 7.5 12 7.5C11.3981 7.5 10.9411 7.65183 10.661 7.86213Z"/>
                            <path d="M12 18.5C12.8284 18.5 13.5 17.8284 13.5 17C13.5 16.1716 12.8284 15.5 12 15.5C11.1716 15.5 10.5 16.1716 10.5 17C10.5 17.8284 11.1716 18.5 12 18.5Z"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3Z"/>
                        </svg>
                        <span>{{ 'Квесты'|trans({}, 'front.nav') }}</span>
                    </a>
                </li>
                <li class="mobile_nav_item">
                    <a href="mechanics.html">
                        <svg height="20px" width="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 0 512 512"  xml:space="preserve" fill="#828282" class="svg fill">
                   <g>
                       <path d="M499.139,318.571l-37.178-5.407c-2.329-0.178-4.336-1.642-5.228-3.8l-12.054-29.086		c-0.901-2.15-0.526-4.613,1-6.379l22.243-29.88c3.533-4.141,3.301-10.314-0.554-14.168l-17.602-17.594		c-3.846-3.854-10.029-4.104-14.159-0.553l-29.889,22.233c-1.758,1.518-4.238,1.91-6.38,1.018l-29.094-12.062		c-2.151-0.883-3.622-2.926-3.81-5.228l-5.389-37.169c-0.428-5.442-4.96-9.635-10.402-9.635h-24.893		c-5.45,0-9.983,4.193-10.402,9.635l-5.407,37.169c-0.17,2.32-1.642,4.345-3.792,5.228l-29.103,12.062		c-2.151,0.892-4.613,0.5-6.388-1.018l-29.872-22.233c-4.13-3.542-10.304-3.302-14.167,0.553l-17.594,17.594		c-3.854,3.854-4.086,10.028-0.554,14.168l22.234,29.888c1.508,1.758,1.91,4.229,1.009,6.371l-12.054,29.086		c-0.874,2.159-2.908,3.622-5.219,3.81l-37.195,5.398c-5.425,0.429-9.618,4.961-9.618,10.412v24.883		c0,5.442,4.194,9.993,9.618,10.403l37.195,5.398c2.311,0.188,4.345,1.659,5.219,3.81l12.054,29.086		c0.901,2.159,0.5,4.63-1.009,6.388l-22.234,29.889c-3.533,4.14-3.301,10.295,0.554,14.168l17.594,17.594		c3.863,3.854,10.037,4.086,14.167,0.544l29.872-22.243c1.775-1.498,4.237-1.9,6.388-0.998l29.103,12.044		c2.151,0.902,3.622,2.918,3.802,5.246l5.398,37.169c0.428,5.433,4.952,9.636,10.402,9.636h24.893c5.451,0,9.974-4.203,10.402-9.636
                    l5.389-37.169c0.188-2.328,1.659-4.344,3.81-5.246l29.103-12.044c2.142-0.902,4.622-0.5,6.379,0.998l29.881,22.243
                    c4.13,3.542,10.314,3.31,14.159-0.544l17.602-17.594c3.864-3.873,4.087-10.028,0.554-14.168l-22.243-29.889		c-1.499-1.758-1.9-4.229-1-6.388l12.054-29.086c0.892-2.151,2.899-3.622,5.228-3.81l37.178-5.398
                    c5.434-0.41,9.627-4.961,9.627-10.403v-24.883C508.766,323.532,504.573,319,499.139,318.571z M379.093,382.328		c-10.93,10.912-25.445,16.926-40.898,16.926c-15.444,0-29.978-6.014-40.898-16.926c-10.92-10.938-16.943-25.454-16.943-40.907
                    c0-15.444,6.022-29.969,16.943-40.89c10.92-10.939,25.454-16.934,40.898-16.934c15.454,0,29.969,5.995,40.898,16.934		c10.92,10.92,16.934,25.446,16.934,40.89C396.027,356.874,390.014,371.39,379.093,382.328z"/>
                       <path d="M187.351,252.156c4.032-1.445,6.254-5.746,5.122-9.868l-5.898-28.854c-0.472-1.767,0.072-3.649,1.419-4.88		l18.263-16.621c1.338-1.222,3.284-1.588,4.97-0.946l27.961,8.466c3.989,1.508,8.485-0.294,10.306-4.166l8.297-17.656		c1.837-3.881,0.366-8.485-3.346-10.591l-24.339-16.14c-1.58-0.91-2.535-2.632-2.436-4.452l1.16-24.66		c0.098-1.829,1.186-3.444,2.838-4.194l26.008-13.874c3.898-1.74,5.781-6.218,4.336-10.215l-6.603-18.371		c-1.454-4.024-5.755-6.254-9.876-5.121l-28.863,5.879c-1.767,0.5-3.632-0.053-4.871-1.41L195.185,56.23		c-1.24-1.357-1.614-3.265-0.955-4.978l8.468-27.944c1.507-4.006-0.294-8.494-4.175-10.306l-17.648-8.306		c-3.872-1.821-8.494-0.366-10.608,3.354l-16.131,24.34c-0.902,1.58-2.623,2.533-4.444,2.445l-24.66-1.169
                    c-1.82-0.08-3.462-1.205-4.202-2.847L106.974,4.821c-1.758-3.898-6.219-5.782-10.234-4.336L78.379,7.096		c-4.024,1.446-6.254,5.738-5.112,9.859l5.888,28.872c0.482,1.748-0.062,3.64-1.418,4.862l-18.264,16.63
                    c-1.356,1.222-3.274,1.597-4.987,0.955l-27.944-8.476c-3.988-1.516-8.476,0.304-10.305,4.175L7.939,81.622		c-1.82,3.872-0.366,8.494,3.346,10.599l24.339,16.14c1.588,0.902,2.534,2.615,2.436,4.435l-1.16,24.66		c-0.071,1.838-1.187,3.444-2.837,4.193L8.055,155.522c-3.9,1.749-5.782,6.219-4.336,10.216l6.611,18.37		c1.445,4.024,5.746,6.254,9.859,5.131l28.881-5.906c1.749-0.482,3.64,0.071,4.862,1.427l16.612,18.255		c1.24,1.356,1.598,3.283,0.954,4.987l-8.466,27.944c-1.499,3.997,0.304,8.485,4.175,10.305l17.648,8.297		c3.881,1.829,8.493,0.357,10.608-3.346l16.122-24.348c0.91-1.57,2.623-2.534,4.452-2.428l24.661,1.16		c1.829,0.09,3.453,1.178,4.211,2.846l13.847,25.989c1.767,3.9,6.219,5.8,10.233,4.354L187.351,252.156z M148.229,172.296
                    c-11.394,4.095-23.714,3.524-34.68-1.633c-10.965-5.157-19.245-14.275-23.358-25.678c-4.095-11.402-3.524-23.714,1.634-34.67		c5.156-10.974,14.283-19.254,25.677-23.357c11.402-4.105,23.714-3.534,34.67,1.641c10.956,5.139,19.254,14.258,23.366,25.66
                    c4.096,11.403,3.516,23.706-1.632,34.672C168.731,159.886,159.621,168.183,148.229,172.296z"/>
                   </g>
                  </svg>
                        <span>{{ 'Механики'|trans({}, 'front.nav') }}</span></a>
                </li>
                <li class="mobile_nav_item">
                    <a href="bullets.html">
                        <svg fill="#828282" width="20px" height="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 0 503.607 503.607" xml:space="preserve" class="svg fill">
               <g>
                   <g>
                       <g>
                           <rect x="83.933" y="235.016" width="100.721" height="184.656"/>
                           <polygon points="167.868,191.067 167.868,151.08 100.721,151.08 100.721,191.067 87.14,218.228 181.449,218.228 			"/>
                           <path d="M153.048,41.682l-10.71-35.697C141.272,2.434,137.999,0,134.297,0c-3.71,0-6.975,2.434-8.041,5.985l-10.718,35.697
                       c-9.031,30.107-13.765,61.23-14.512,92.613h66.535C166.813,102.912,162.079,71.789,153.048,41.682z"/>
                           <path d="M177.196,458.165c0.26-0.688,0.529-1.368,0.713-2.09l4.902-19.615H85.775l4.893,19.615
                       c0.185,0.722,0.453,1.402,0.722,2.09c-4.516,3.794-7.453,9.417-7.453,15.763v8.998c0,11.407,9.275,20.681,20.681,20.681h59.358
                       c11.398,0,20.681-9.275,20.681-20.681v-8.998C184.658,467.583,181.72,461.959,177.196,458.165z"/>
                           <polygon points="402.885,258.214 402.885,218.228 335.737,218.228 335.737,258.214 322.157,285.375 416.465,285.375 			"/>
                           <rect x="318.95" y="302.164" width="100.721" height="117.508"/>
                           <path d="M388.065,108.829l-10.71-35.697c-1.066-3.55-4.339-5.984-8.041-5.984c-3.71,0-6.975,2.434-8.041,5.984l-10.718,35.697
                       c-9.031,30.107-13.765,61.23-14.512,92.613h66.535C401.83,170.06,397.096,138.937,388.065,108.829z"/>
                           <path d="M412.212,458.165c0.26-0.688,0.529-1.368,0.713-2.09l4.902-19.615h-97.037l4.893,19.615
                       c0.185,0.722,0.453,1.402,0.722,2.09c-4.516,3.794-7.453,9.417-7.453,15.763v8.998c0,11.407,9.275,20.681,20.681,20.681h59.358
                       c11.398,0,20.681-9.275,20.681-20.681v-8.998C419.674,467.583,416.737,461.959,412.212,458.165z"/>
                           <rect x="201.441" y="268.59" width="100.721" height="151.082"/>
                           <polygon points="285.377,224.64 285.377,184.654 218.229,184.654 218.229,224.64 204.648,251.802 298.957,251.802 			"/>
                           <path d="M270.556,75.256l-10.71-35.697c-1.066-3.55-4.339-5.984-8.041-5.984c-3.71,0-6.975,2.434-8.041,5.984l-10.718,35.697
                       c-9.031,30.107-13.765,61.23-14.512,92.613h66.535C284.322,136.486,279.588,105.363,270.556,75.256z"/>
                           <path d="M294.704,458.165c0.26-0.688,0.529-1.368,0.713-2.09l4.902-19.615h-97.037l4.893,19.615
                       c0.185,0.722,0.453,1.402,0.722,2.09c-4.516,3.794-7.453,9.417-7.453,15.763v8.998c0,11.407,9.275,20.681,20.681,20.681h59.358
                       c11.398,0,20.681-9.275,20.681-20.681v-8.998C302.166,467.583,299.228,461.959,294.704,458.165z"/>
                       </g>
                   </g>
               </g>
               </svg>
                        <span>{{ 'Патроны'|trans({}, 'front.nav') }}</span></a>
                </li>
                <li class="mobile_nav_item">
                    <a href="map.html">
                        <svg width="20px" height="20px" viewBox="0 0 24 24" class="svg stroke" stroke="#828282" stroke-width="1.7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.7 15C4.03377 15.6353 3 16.5205 3 17.4997C3 19.4329 7.02944 21 12 21C16.9706 21 21 19.4329 21 17.4997C21 16.5205 19.9662 15.6353 18.3 15M12 9H12.01M18 9C18 13.0637 13.5 15 12 18C10.5 15 6 13.0637 6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9ZM13 9C13 9.55228 12.5523 10 12 10C11.4477 10 11 9.55228 11 9C11 8.44772 11.4477 8 12 8C12.5523 8 13 8.44772 13 9Z" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>{{ 'Карты'|trans({}, 'front.nav') }}</span></a>
                </li>
                <li class="mobile_nav_item">
                    <a href="#" class="login" id="mobile_login" >
                        <svg width="20px" height="20px" fill="#828282" class="svg fill"  viewBox="0 0 30.586 30.586" xmlns="http://www.w3.org/2000/svg">
                            <g transform="translate(-546.269 -195.397)">
                                <path d="M572.138,221.245a15.738,15.738,0,0,0-21.065-.253l-1.322-1.5a17.738,17.738,0,0,1,23.741.28Z"/>
                                <path d="M561.464,204.152a4.96,4.96,0,1,1-4.96,4.96,4.966,4.966,0,0,1,4.96-4.96m0-2a6.96,6.96,0,1,0,6.96,6.96,6.96,6.96,0,0,0-6.96-6.96Z"/>
                                <path d="M561.562,197.4a13.293,13.293,0,1,1-13.293,13.293A13.308,13.308,0,0,1,561.562,197.4m0-2a15.293,15.293,0,1,0,15.293,15.293A15.293,15.293,0,0,0,561.562,195.4Z"/>
                            </g>
                        </svg>
                        <span>{{ 'Профиль'|trans({}, 'front.nav') }}</span></a>
                </li>
            </ul>

        </div>
    </div>
</nav>