{% if quest.slug == 'the-huntsman-path-relentless' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Иммунитет»</div>
        <div class="val val_quests">+2 «Ручное производство»</div>
    </div>
{% elseif quest.slug == 'crisis' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+4 «Иммунитет»</div>
        <div class="val val_quests">+4 «Хирургия»</div>
        <div class="val val_quests">+4 «Жизнеспособность»</div>
    </div>
{% elseif quest.slug == 'swift-one' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Выносливость»</div>
        <div class="val val_quests">+1 «Стрессоустойчивость»</div>
    </div>
{% elseif quest.slug == 'an-apple-a-day-keeps-the-doctor-away' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+2 «Здоровье»</div>
    </div>
{% elseif quest.slug == 'the-Survivalist-path-junkie' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+2 «Метаболизм»</div>
    </div>
{% elseif quest.slug == 'escort' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 <a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Холодное оружие»</a></div>
        <div class="val val_quests">+1 <a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Пистолеты»</a></div>
        <div class="val val_quests">+1 <a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Сила»</a></div>
    </div>
{% elseif quest.slug == 'psycho-sniper' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+3 «Снайперские винтовки»</div>
        <div class="val val_quests">+2 «Интеллект»</div>
        <div class="val val_quests">+1 «Стрессоустойчивость»</div>
        <div class="val val_quests">+2 «Внимание»</div>
    </div>
{% elseif quest.slug == 'the-survivalist-path-wounded-beast' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Стрессоустойчивость»</div>
    </div>
{% elseif quest.slug == 'the-survivalist-path-cold-blooded' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Стрессоустойчивость»</div>
    </div>
{% elseif quest.slug == 'ambulance' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Жизнеспособность»</div>
    </div>
{% elseif quest.slug == 'farming-part-4' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+3 «Внимание»</div>
    </div>
{% elseif quest.slug == 'booze' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Внимание»</div>
        <div class="val val_quests">+0.5 «Ручное производство»</div>
    </div>
{% elseif quest.slug == 'the-stylish-one' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Харизма»</div>
    </div>
{% elseif quest.slug == 'the-courier' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Ручное производство»</div>
        <div class="val val_quests">+1 «Интеллект»</div>
    </div>
{% elseif quest.slug == 'calibration' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Внимание»</div>
    </div>
{% elseif quest.slug == 'the-survivalist-path-tough-guy' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Внимание»</div>
    </div>
{% elseif quest.slug == 'the-survivalist-path-eagle-owl' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+0.5 «Внимание»</div>
    </div>
{% elseif quest.slug == 'the-choise' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+2 «Управление убежищем»</div>
    </div>
{% elseif quest.slug == 'the-survivalist-path-combat-medic' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+2 «Хирургия»</div>
    </div>
{% elseif quest.slug == 'intimidator' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Прицеливание»</div>
        <div class="val val_quests">+0,5 «Штурмовые винтовки и автоматы»</div>
    </div>
{% elseif quest.slug == 'intimidator' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Прицеливание»</div>
        <div class="val val_quests">+0,5 «Штурмовые винтовки и автоматы»</div>
    </div>
{% elseif quest.slug == 'the-cleaner' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+1 «Марксманские винтовки»</div>
        <div class="val val_quests">+2 «Пистолет-пулеметы»</div>
        <div class="val val_quests">+2 «Штурмовые винтовки и автоматы»</div>
    </div>
{% elseif quest.slug == 'night-sweep' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+2 «Дробовики»</div>
    </div>
{% elseif quest.slug == 'a-shooter-born-in-heaven' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+5 «Снайперские винтовки»</div>
    </div>
{% elseif quest.slug == 'mentor' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+3 «Снайперские винтовки»</div>
    </div>
{% elseif quest.slug == 'the-tarkov-shooter-part-8' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val val_quests">+3 «Снайперские винтовки»</div>
    </div>
{% else %}
{% endif %}