{% if quest.slug == 'the-huntsman-path-relentless' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Иммунитет»</a></span>
                <span class="text">+1</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Ручное производство»</a></span>
                <span class="text">+2</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'crisis' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Иммунитет»</a></span>
                <span class="text">+4</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Хирургия»</a></span>
                <span class="text">+4</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Жизнеспособность»</a></span>
                <span class="text">+4</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'swift-one' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Выносливость»</a></span>
                <span class="text">+1</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Стрессоустойчивость»</a></span>
                <span class="text">+1</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'an-apple-a-day-keeps-the-doctor-away' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Здоровье»</a></span>
                <span class="text">+2</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'the-Survivalist-path-junkie' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Метаболизм»</a></span>
                <span class="text">+2</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'escort' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
               <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Холодное оружие»</a></span>
               <span class="text">+1</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Пистолеты»</a></span>
                <span class="text">+1</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Сила»</a></span>
                <span class="text">+1</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'psycho-sniper' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Снайперские винтовки»</a></span>
                <span class="text">+3</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Интеллект»</a></span>
                <span class="text">+2</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Стрессоустойчивость»</a></span>
                <span class="text">+1</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Внимание»</a></span>
                <span class="text">+2</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'the-survivalist-path-wounded-beast' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Стрессоустойчивость»</a></span>
                <span class="text">+1</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'the-survivalist-path-cold-blooded' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Стрессоустойчивость»</a></span>
                <span class="text">+1</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'ambulance' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Жизнеспособность»</a></span>
                <span class="text">+1</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'farming-part-4' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Внимание»</a></span>
                <span class="text">+3</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'booze' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Внимание»</a></span>
                <span class="text">+1</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Ручное производство»</a></span>
                <span class="text">+0.5</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'the-stylish-one' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Харизма»</a></span>
                <span class="text">+1</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'the-courier' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Ручное производство»</a></span>
                <span class="text">+1</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Интеллект»</a></span>
                <span class="text">+1</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'calibration' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Внимание»</a></span>
                <span class="text">+1</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'the-survivalist-path-tough-guy' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Внимание»</a></span>
                <span class="text">+1</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'the-survivalist-path-eagle-owl' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Внимание»</a></span>
                <span class="text">+0.5</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'the-choise' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Управление убежищем»</a></span>
                <span class="text">+2</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'the-survivalist-path-combat-medic' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Хирургия»</a></span>
                <span class="text">+2</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'intimidator' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Прицеливание»</a></span>
                <span class="text">+1</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Штурмовые винтовки и автоматы»</a></span>
                <span class="text">+0.5</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'the-cleaner' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Марксманские винтовки»</a></span>
                <span class="text">+1</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Пистолет-пулеметы»</a></span>
                <span class="text">+2</span>
            </div>
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Штурмовые винтовки и автоматы»</a></span>
                <span class="text">+2</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'night-sweep' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Дробовики»</a></span>
                <span class="text">+2</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'a-shooter-born-in-heaven' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Снайперские винтовки»</a></span>
                <span class="text">+5</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'mentor' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Снайперские винтовки»</a></span>
                <span class="text">+3</span>
            </div>
        </div>
    </div>
{% elseif quest.slug == 'the-tarkov-shooter-part-8' %}
    <div class="prop">
        <div class="name">{{ 'Навыки'|trans({}, 'front.quests') }}</div>
        <div class="val value_options">
            <div>
                <span class="option"><a href="https://tarkov.town/mechanics/medicine/skill-base" class="mechanics">«Снайперские винтовки»</a></span>
                <span class="text">+3</span>
            </div>
        </div>
    </div>
{% else %}
{% endif %}