{% extends 'base.html.twig' %}

{% block title %}{{ quest.name }} | Tarkov.Town{% endblock %}
{% block content %}
    <div class="content">
        <section>
            <div class="container">
            {% if quest is not empty  %}
                {% if quest.objectives is not empty %}
                <h1>{{ quest.name }}</h1>
                <div class="information">
                    <div class="tasks">
                        <h2>Задачи</h2>
                        <ul class="list">
                            {% for objective in quest.objectives %}
                            <li class="item">
                                — {{ objective.description }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="card">
                        <div class="image">
                            {% if quest.imageName %}
                                <img src="{{ asset('/storage/images/quests/' ~ quest.imageName) | imagine_filter('250x148') }}" alt="{{ quest.name }}">
                            {% else %}
                                <img src="{{ asset('/assets/img/image-cap.png') | imagine_filter('360x210') }}" alt="{{ quest.name }}">
                            {% endif %}
                        </div>
                        <div class="text">
                            <div class="item">
                                <div class="name">
                                    {{ 'Требуемый уровень'|trans({}, 'front.quests') }}
                                </div>
                                <div class="value">
                                    {{ quest.minPlayerLevel }}
                                </div>
                            </div>
                            <div class="item">
                                <div class="name">
                                    {{ 'Выдал'|trans({}, 'front.quests') }}
                                </div>
                                <div class="value">
                                    {{ quest.trader.shortName }}
                                </div>
                            </div>
                            <div class="item">
                                <div class="name">
                                    {{ 'Требуется для каппы'|trans({}, 'front.quests') }}
                                </div>
                                <div class="value">
                                    {% if quest.kappaRequired %}Да{% else %}Нет{% endif %}
                                </div>
                            </div>
                            <div class="item">
                                <div class="name">
                                    {{ 'Требуется для смотрителя'|trans({}, 'front.quests') }}
                                </div>
                                <div class="value">
                                    {% if quest.lightkeeperRequired %}Да{% else %}Нет{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </section>
        {% if quest.howToComplete %}
        <section>
            <div class="container">
                <div class="reference active">
                    <div class="header">
                        <h2 class="h">{{ 'Выполнение'|trans({}, 'front.quests') }}</h2>
                        <div class="line"></div>
                        <div class="btn">
                        </div>
                    </div>
                    <div class="text">
                        <div class="execution">
                            <div class="text">
                                {{ quest.howToComplete | raw }}
                            </div>
{#                            <div class="locations">#}
{#                                <div class="location">#}
{#                                    <div class="image">#}
{#                                        <img src="media/location.png" alt="">#}
{#                                    </div>#}
{#                                    <div class="name">#}
{#                                        Таможенный терминал#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="location">#}
{#                                    <div class="image">#}
{#                                        <img src="media/location.png" alt="">#}
{#                                    </div>#}
{#                                    <div class="name">#}
{#                                        Таможенный терминал#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="location">#}
{#                                    <div class="image">#}
{#                                        <img src="media/location.png" alt="">#}
{#                                    </div>#}
{#                                    <div class="name">#}
{#                                        Таможенный терминал#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        {% if advice is not empty %}
        <section>
            <div class="container">
                <div class="note">
                    <div class="icon"></div>
                    <div class="text">
                        {{ advice|striptags|raw }}
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <section>
            <div class="container">
                <div class="reference active">
                    <div class="header">
                        <h2 class="h">{{ 'Награды'|trans({}, 'front.quests') }}</h2>
                        <div class="line"></div>
                        <div class="btn">
                        </div>
                    </div>
                    <div class="text">
                        <div class="awards">
                            <div class="properties">
                                <div class="prop">
                                    <div class="name">
                                        {{ 'Опыт'|trans({}, 'front.quests') }}
                                    </div>
                                    <div class="val">
                                        +{{ quest.experience }}
                                    </div>
                                </div>
                                {% if quest.traderStandings is not empty %}
                                <div class="prop">
                                    <div class="name">
                                        {{ 'Репутация'|trans({}, 'front.quests') }}
                                    </div>
                                    <div class="val value_options">
                                        {% for traderStanding in quest.traderStandings %}
                                        <div>
                                            <span class="option">{{ traderStanding.trader.translate(app.request.locale).shortName }}</span>
                                            <span class="text">{% if traderStanding.standing > 0 %}+{% endif %}{{ traderStanding.standing }}</span>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                                {% if quest.receivedItems is not empty %}
                                    {% set countMoney = 0 %}
                                    {% for receivedItem in quest.receivedItems %}
                                        {% if 'money' in receivedItem.item.types %}
                                            {% set countMoney = countMoney + 1 %}
                                            <div class="prop">
                                                <div class="name">
                                                    {{ 'Деньги'|trans({}, 'front.quests') }}
                                                </div>
                                                <div class="val">
                                                    +{{ receivedItem.count }} {{ receivedItem.item.Name }}
                                                    <div class="info">
                                                        i
                                                        <div class="ref">
                                                            <div class="ref_item ref_money">
                                                                <div class="property">{{ 'Развед. центр ур. 1'|trans({}, 'front.quests') }}</div>
                                                                <div class="value">
                                                                        +{{ receivedItem.count * 1.05 }} {{ receivedItem.item.Name }}
                                                                </div>
                                                            </div>
                                                            <div class="ref_item ref_money">
                                                                <div class="property">{{ 'Развед. центр ур. 2'|trans({}, 'front.quests') }}</div>
                                                                <div class="value">
                                                                       +{{ receivedItem.count * 1.15 }} {{ receivedItem.item.Name }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <div class="prop">
                                    <div class="name">
                                        {{ 'Навыки'|trans({}, 'front.quests') }}
                                    </div>
                                    <div class="val">
                                        + 3 {{ 'навыка'|trans({}, 'front.quests') }} <a href="#">снайперские винтовки</a>
                                    </div>
                                </div>
                            </div>
                            {% if quest.usedItems is not empty %}
                                {{ include('quests/blocks/used-items.html.twig') }}
                            {% endif %}
                            {% if (quest.receivedItems is not empty) and (quest.receivedItems | length > countMoney) %}
                                {{ include('quests/blocks/received-items.html.twig') }}
                            {% endif %}
                            {% if (quest.unlockInCashOffers is not empty) or (quest.unlockBarters is not empty) %}
                                <div class="lock">
                                    <div class="divider"></div>
                                    <div class="lock_icon"></div>
                                    <div class="divider"></div>
                                </div>
                                {% if quest.unlockInCashOffers is not empty %}
                                    {{ include('quests/blocks/cash-offer.html.twig') }}
                                {% endif %}
                                {% if quest.unlockBarters is not empty %}
                                    {{ include('quests/blocks/barters.html.twig') }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% if (quest.startDialog or quest.successfulDialog) %}
        <section>
            <div class="container">
                <div class="reference active">
                    <div class="header">
                        <h2 class="h">{{ 'Линия квеста'|trans({}, 'front.quests') }}</h2>
                        <div class="line"></div>
                        <div class="btn">
                        </div>
                    </div>
                    <div class="text">
                        <div class="dialog">
                            <div class="trader">
                                <div class="image">
                                    {% if quest.imageName %}
                                        <img src="{{ asset('/storage/images/traders/' ~ quest.trader.imageName) | imagine_filter('118x118') }}" alt="{{ quest.trader.shortName }}">
                                    {% else %}
                                        <img src="{{ asset('/assets/img/image-cap.png') | imagine_filter('118x118') }}" alt="">
                                    {% endif %}
                                </div>
                                <div class="name">
                                    {{ quest.trader.shortName }}
                                </div>
                            </div>
                            <div class="dialog_info">
                                {% if quest.startDialog %}
                                <div class="block">
                                    <div class="name">
                                        {{ 'Начало диалога'|trans({}, 'front.quests') }}
                                    </div>
                                    <div class="text">
                                        {{ quest.startDialog | raw }}
                                    </div>
                                </div>
                                {% endif %}
                                {% if quest.successfulDialog %}
                                <div class="block">
                                    <div class="name">
                                        {{ 'Успешно выполненное задание'|trans({}, 'front.quests') }}
                                    </div>
                                    <div class="text">
                                        {{ quest.successfulDialog | raw }}
                                    </div>
                                </div>
                                {% endif %}
{#                                <div class="controls">#}
{#                                    <div class="prev">#}
{#                                        <div class="name">#}
{#                                            Предыдущие квест(ы)#}
{#                                        </div>#}
{#                                        <div class="btns">#}
{#                                            <a href="#" class="button">#}
{#                                                "Проверка на вшивость"#}
{#                                            </a>#}
{#                                            <a href="#" class="button">#}
{#                                                "Поисковая миссия"#}
{#                                            </a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="next">#}
{#                                        <div class="name">#}
{#                                            Следующие квест(ы)#}
{#                                        </div>#}
{#                                        <div class="btns">#}
{#                                            <a href="#" class="button">#}
{#                                                "Проверка на вшивость"#}
{#                                            </a href="#">#}
{#                                            <a href="#" class="button">#}
{#                                                "Поисковая миссия"#}
{#                                            </a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
    </div>
{% endblock %}