{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <section>
            <div class="container">
                {% if quest is not empty  %}
                <div class="information">
                    <div class="tasks">
                        {% if objectives is not empty %}
                        <h2>Задачи</h2>
                        <ul class="list">
                            {% for objective in objectives %}
                            <li class="item">
                                {{ objective.description }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="card">
                        <h2>
                            {{ quest.title }}
                        </h2>
                        <div class="image">
                            {% if quest.imageName %}
                                <img src="{{ asset('/storage/images/quests/' ~ quest.imageName) | imagine_filter('250x148') }}" alt="{{ quest.title }}">
                            {% else %}
                                <img src="{{ asset('/assets/img/image-cap.png') | imagine_filter('360x210') }}" alt="{{ quest.title }}">
                            {% endif %}
                        </div>
                        <div class="text">
                            <div class="item">
                                <div class="name">
                                    {{ 'Требуемый уровень'|trans({}, 'front.quests') }}
                                </div>
                                <div class="value">
                                    {{ quest.minPlayerLevel }}
                                </div>
                            </div>
                            <div class="item">
                                <div class="name">
                                    {{ 'Выдал'|trans({}, 'front.quests') }}
                                </div>
                                <div class="value">
{#                                    {{ quest.trader }}#}
                                </div>
                            </div>
{#                            <div class="item">#}
{#                                <div class="name">#}
{#                                    {{ 'Требуется для каппы'|trans({}, 'front.quests') }}#}
{#                                </div>#}
{#                                <div class="value">#}
{#                                    {% if quest.optional %}Да{% else %}Нет{% endif %}#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}