{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        {% if traders is not empty %}
            <section>
                <div class="container">
                    <div class="desctop_traders_container">
                        <h2 class="center">{{ 'Выбор торговца'|trans({}, 'front.traders') }}</h2>
                        {% for trader in traders %}
                            <div class="traders">
                                <a href="{{ absolute_url(path('app_traders', {})) }}/{{ trader.slug }}/" class="trader">
                                    <img src="{{ asset('/storage/images/traders/' ~ trader.imageName) | imagine_filter('80x80') }}" alt="{{ trader.characterType }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="reference active mobile_traders_container">
                        <div class="header">
                            <h2 class="h">{{ 'Выбор торговца'|trans({}, 'front.traders') }}</h2>
                            <div class="line"></div>
                            <div class="btn">
                            </div>
                        </div>
                        <div class="text">
                            <div class="mobile_traders">
                                {% for trader in traders %}
                                    <a href="{{ absolute_url(path('app_traders', {})) }}/{{ trader.slug }}/" class="trader">
                                        <img src="{{ asset('/storage/images/traders/' ~ trader.imageName) | imagine_filter('100x100') }}" alt="{{ trader.characterType }}">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}
