{% extends 'base.html.twig' %}
<title>{% block title %} | Tarkov.Town{% endblock %}</title>

{% block content %}
    <div class="content">
        {% if traders is not empty %}
            <section>
                <div class="container">
                    <div class="reference active page_traders">
                        <div class="header">
                            <h2 class="h">{{ 'Выбор торговца'|trans({}, 'front.traders') }}</h2>
                            <div class="line"></div>
                            <div class="btn">
                            </div>
                        </div>
                        <div class="text">
                            <div class="traders" data-turbo="true">
                                {% for trader in traders %}
                                <a href="{{ absolute_url(path('app_traders', {})) }}/{{ trader.slug }}" class="trader">
                                    {% if trader.imageName %}
                                    <img src="{{ asset('/storage/images/traders/' ~ trader.imageName) | imagine_filter('80x80') }}" alt="{{ trader.shortName }}">
                                    {% else %}
                                    <img src="{{ asset('/assets/img/image-cap.png') | imagine_filter('80x80') }}" alt="">
                                    {% endif %}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}
