{% if newsMain is not empty %}
<div class="now">
    <div class="main_information">
        {% if newsCategories is not empty %}
        <div class="windows" {{ stimulus_controller('tab-windows')}} >
            {% for category in newsCategories %}
{#            {% for article in newsMain %}#}
            <div class="window {% if loop.index == 1 %}active{% endif %}" id="window_{{ loop.index }}">
                <div class="name">
                    {{ article.title }}
                </div>
                <div class="subname">
                    {{ 'Список изменений от'|trans({}, 'front.home') }} {{ article.createdAt|date("d.m.Y") }} :
                </div>
                <div class="contains">
                    <div class="text">
                        {{ article.description|striptags('')|raw }}
                    </div>
                    <div class="overinfo">
                        <a href="#">Подробнее...</a>
                    </div>
                </div>
            </div>
            {% endfor %}
{#            {% endfor %}#}
{#            <div class="window" id="window_2">#}
{#                        {% if newsCategories is not empty %}#}
{#                            {% for category in newsCategories %}#}
{#                                {% if category.slug == 'patch' %}#}
{#                <div class="name">#}
{#                    {{ article.title }}#}
{#                </div>#}
{#                <div class="subname">#}
{#                    {{ 'Список изменений от'|trans({}, 'front.home') }} {{ article.createdAt|date("d.m.Y") }} :#}
{#                </div>#}
{#                <div class="contains">#}
{#                    <div class="text">#}
{#                        {{ article.description|striptags('')|raw }}#}
{#                    </div>#}
{#                    <div class="overinfo">#}
{#                        <a href="#">#}
{#                            Подробнее...</a>#}
{#                    </div>#}
{#                </div>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{#            </div>#}
        </div>
        {% endif %}
        {% if newsCategories is not empty %}
        <div class="selects">
            {% for category in newsCategories %}
                <div class="select {% if loop.index == 1 %}active{% endif %}" data-tab="window_{{ loop.index }}">
                    {{ category.name }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
</div>
{% endif %}