<div class="now">
    <div class="main_information">
        <div class="windows" {{ stimulus_controller('tab-windows')}}{{ stimulus_controller('news') }}>
            <div class="window active" id="window_1">
                <div class="name">
                    {{ 'Последний патч'|trans({}, 'front.home') }} | 13.13.13.0043290
                </div>
                <div class="subname">
                    {{ 'Список изменений от'|trans({}, 'front.home') }} 01.01.2023 :
                </div>
                <div class="contains">
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                        error
                        rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                        necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                        est
                        blanditiis.
                    </div>
                    <div class="overinfo">
                        <a href="#">Подробнее...</a>
                    </div>
                </div>
            </div>
            {% if articles is not empty %}
            <div class="window" id="window_2">
                {% for article in articles %}
                <div class="name">
                    {{ article.title }}
                </div>
                <div class="subname">
                    {{ 'Список изменений от'|trans({}, 'front.home') }} {{ article.createdAt|date("d.m.Y") }} :
                </div>
                <div class="contains">
                    <div class="text">
                        {{ article.body|raw }}
                    </div>
                    <div class="overinfo">
                        <a href="#">
                            Подробнее...</a>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        {% if newsCategories is not empty %}
        <div class="selects">
            {% for category in newsCategories %}
                <div class="select {% if loop.index == 1 %}active{% endif %}" data-tab="window_{{ loop.index }}">
                    {{ category.name }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>