<div class="now">
    <div class="main_information">
        <div class="windows">
            <div class="window active" id="window_1">
                <div class="name">
                    {{ 'Последний патч'|trans({}, 'front.home') }} | 13.13.13.0043290
                </div>
                <div class="subname">
                    {{ 'Список изменений от'|trans({}, 'front.home') }} 01.01.2023 :
                </div>
                <div class="contains">
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                        error
                        rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                        necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                        est
                        blanditiis.
                    </div>
                    <div class="overinfo">
                        <a href="#">
                            Подробнее...</a>
                    </div>
                </div>
            </div>
            <div class="window" id="window_2">
                <div class="name">
                    {{ 'Ивент'|trans({}, 'front.home') }}
                </div>
                <div class="subname">
                    {{ 'Список изменений от'|trans({}, 'front.home') }} 01.01.2023 :
                </div>
                <div class="contains">
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                        error
                        rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                        necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                        est
                        blanditiis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                        error
                        rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                        necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                        est
                        blanditiis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                        error
                        rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                        necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                        est
                        blanditiis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                        error
                        rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                        necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                        est
                        blanditiis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                        error
                        rem temporibus veritatis incidunt animi vero eos voluptate placeat amet
                        necessitatibus, quibusdam itaque aliquam libero magni repellendus odio
                        est
                        blanditiis.
                    </div>
                    <div class="overinfo">
                        <a href="#">
                            Подробнее...</a>
                    </div>
                </div>
            </div>
{#            <div class="window" id="window_3">#}
{#                <div class="name">#}
{#                    {{ 'Отступники'|trans({}, 'front.home') }}#}
{#                </div>#}
{#                <div class="subname">#}
{#                    {{ 'Список изменений от'|trans({}, 'front.home') }} 01.01.2023 :#}
{#                </div>#}
{#                <div class="contains">#}
{#                    <div class="text">#}
{#                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium#}
{#                        error#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="selects" {{ stimulus_controller('tab-windows') }}>
            <div class="select active" data-tab="window_1">
                {{ 'Патч'|trans({}, 'front.home') }}
            </div>
            <div class="select" data-tab="window_2">
                {{ 'Ивент'|trans({}, 'front.home') }}
            </div>
            {#                                <div class="select" data-tab="window_3">#}
            {#                                    {{ 'Отступники'|trans({}, 'front.home') }}#}
            {#                                </div>#}
        </div>
    </div>
</div>