{# templates/bundles/EasyAdminBundle/layout.html.twig #}
{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entities \EasyCorp\Bundle\EasyAdminBundle\Collection\EntityDtoCollection #}
{# @var paginator \EasyCorp\Bundle\EasyAdminBundle\Orm\EntityPaginator #}

{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% block global_actions %}
    <div class="global-actions">
        {% for action in global_actions %}
            {% if ea.entity.name == 'Item' %}
                {{ include('admin/crud/action.html.twig', { action: action }, with_context = false) }}
            {% else %}
                {{ include(action.templatePath, { action: action }, with_context = false) }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock global_actions %}

{% block table_body_empty %}
    <tr class="no-results">
        <td colspan="100">
            {{ t('datagrid.no_results', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}
        </td>
    </tr>
{% endblock table_body_empty %}

{% block entity_actions %}
    <td class="actions {{ ea.crud.showEntityActionsAsDropdown ? 'actions-as-dropdown' }}">
        {% if entity.actions.count > 0 %}
            {% if ea.crud.showEntityActionsAsDropdown %}
                <div class="dropdown dropdown-actions">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {# don't use FontAwesome 'fa-ellipsis-h' icon here because it doesn't look good #}
                        {# this icon is 'dots-horizontal' icon from https://heroicons.com/ #}
                        <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                        </svg>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        {% for action in entity.actions %}
{#                            {% if ea.entity.name == 'Item' %}#}
{#                                {% set editUrl = action.linkUrl ~ '&typeItem=' ~ entity.instance.typeItem %}#}
{#                                {% set action.linkUrl(editUrl) %}#}
{#                            {% endif %}#}
                            {% if ea.entity.name == 'Item' %}
                                {{ include('admin/crud/action-item.html.twig', { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                            {% else %}
                                {{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                {% for action in entity.actions %}
                    {{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                {% endfor %}
            {% endif %}
        {% endif %}
    </td>
{% endblock entity_actions %}